/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */
.container {
   /* margin-top: 10px; 
    width: 1440px; 
    height: 900px; */ 
    background-color: #aaaaaa;
}


#header {
	margin-top:  1%;
	max-width: 98%;
	height: 4%;
	background-color: #cccccc;
}

#leftsidebar {
	margin-top: 1%;
	height: 85.88%;
	
	background-color: #eeeeee;
}

#main {
	margin-top: 1%;
	height: 85.88%;
	border-left: 1px solid blue ;
	
	background-color: #eeeeee;
}

#rightsidebar {
	margin-top: 1%;
	height: 85.88%;
	
	background-color: #eeeeee;
}

#footer {
	margin-top: 1%;
	margin-bottom: 0.005%;
	max-width: 98%;
	height: 4%;
	background-color: #cccccc;
}
 /*
#nav {
    margin: 13px 0 0 0;
}
 
#nav ul li {
    display: inline;
    margin: 0 20px 0 0;
    margin-bottom: 130px;
}
 
#nav a {
    text-decoration: none;
}
 
#nav a:hover {
    text-decoration: underline;
}

#headerImage img {
    margin-bottom: 50px;
    max-width: 100%;
    height: auto;
}

#welcome {
    margin-bottom: 20px;
}

.feature img {
    margin-bottom: 15px;
    max-width: 100%;
    height: auto;
}
/*
p {
  max-width:300px;
  padding: 5px;
  border-width:1;
  border-style:groove;
  border-color:blue;
} */

/* #Media Queries
================================================== */

	/* Smaller than standard FullHD 1920 (devices and browsers) */
	@media only screen and (max-width: 1919px) and (max-height: 1078px) {}
	
	/* DeskTop/LapTop from standard 960 to standard 1440 (devices and browsers)  */
	@media only screen and (min-width: 960px) and (max-width: 1439px) and (max-height: 899px) {}
	/*@media only screen and (max-width: 959px) {} */ 

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) and (max-height: 767px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/